*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.item{
    background-color: var(--background);
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.item.active{
    display: block;
}
.item .title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item .fruit{
    width: 90%;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.item .refri{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* -------------------- */

#prev, #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(238, 238, 238, 0.247);
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
}

#prev:hover, #next:hover{
    background-color: #fff2;
    border: 1px solid #fff2;
}
#prev{
    left: 30px;
}
#next{
    right: 30px;
}

@keyframes toActive {
    from{
        opacity: 0;
        top: 100%;
    }
}

.item.active img.fruit, .title{
    animation: toActive 0.5s ease-in-out forwards;
}